{% extends 'layouts/base.html' %}
{% block title %} Employee Card {% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Employee Info </h3>
    <a href="{{ url_for('employees.create') }}" class="btn btn-primary">Create new employee</a>
</div>

{% if emps%}
<div class="grid-container">
    {% for emp in emps %}
        <div class="grid-item">
            <div class="border-top"></div>
            <div class="emp-card">
                <img {% if emp.photo %} 
                       src="{{ url_for('employees.employee_photo', id=emp.id) }}"
                     {% else %}
                       src = "{{ url_for('static', filename='images/emp-icon.jpg')}}"
                     {% endif %}
                    alt={{ emp.name }} />
                <span>{{ emp.name }}</span>
                <p class="job"> {{ emp.gender }}<p>
                <p> {{ emp.salary}} </p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>There is No Employee yet.</p>
{% endif %}

{% endblock %}