{% extends "layouts/base.html" %}
{% block title %}Employees List{% endblock %}

{% block content %}
<div>
    <div class="d-flex justify-content-between align-items-center m-3">
        <h2> Employee List </h2>
        <a href="{{ url_for('employees.create')}}" class="btn btn-primary">Create New Employee Info</a>
    </div>
    <div>
    {% if employees %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle shadow-sm">
            <thead class="table-light">
                <tr>
                    <th>PHOTO</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Gender</th>
                    <th>Birth Date</th>
                    <th>JOB_ID</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>Salary</th>
                    <th>Remarks</th>
                    <th class="text-end">Active</th>
                </tr>
            </thead>
            {% for employee in employees %}
            <tbody>
                <tr>
                    <td><img src="{{ url_for('employees.employee_photo', id=employee.id) }}" alt="{{ employee.name }}" width="50"></td>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.birthdate }}</td>
                    <td>{{ employee.job_id }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.remarks }}</td>
                    <td class="text-end">
                        <a href="{{ url_for('employees.edit', emp_id=employee.id)}}" class="btn btn-warning">✏️</a>
                        <a href="{{ url_for('employees.confirm_delete', emp_id=employee.id)}}" class="btn btn-danger">🗑️</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            
        </table>
    {% else %}
        <p>Employees list Not found.</p>
    {% endif %}
    </div>
</div>
{% endblock %}