{{ form.hidden_tag() }}

<div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    {% if form.name.errors %}
        {% for error in form.name.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.address.label(class="form-label") }}
    {{ form.address(class="form-control") }}
    {% if form.address.errors %}
        {% for error in form.address.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.confirm_password.label(class="form-label") }}
    {{ form.confirm_password(class="form-control") }}
    {% if form.confirm_password.errors %}
        {% for error in form.confirm_password.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.phone_number.label(class="form-label") }}
    {{ form.phone_number(class="form-control") }}
    {% if form.phone_number.errors %}
        {% for error in form.phone_number.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.discount.label(class="form-label") }}
    {{ form.discount(class="form-control") }}
    {% if form.discount.errors %}
        {% for error in form.discount.errors %}
            <div class="text-danger small">{{ error }} </div>
        {% endfor %}
    {% endif %}
</div>

<div class="mb-3">
    
    {{ form.submit(class=" btn btn-primary") }}
    <a href="{{ url_for('customers.index') }}" class="btn btn-secondary">Cancel</a>
</div>

