<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devive-width, initial-scale=1.0">
    <title>{% block title %}User ManageMent {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="CSS/style.css") }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <!-- header -->
    <header class="header">
        <div class="container header-container">
            <h1>AS1 LOGO</h1>
            <nav class="navigation">
                <ul>
                    <li><a href="{{ url_for('employees.index') }}">Employees</a></li>
                    <li><a href="{{ url_for('employees.card') }}">Employee Card</a></li>
                    <li><a href="{{ url_for('jobs.index') }}">view position</a></li>
                    <li><a href="{{ url_for('products.index') }}">Product List</a></li>
                    <li><a href="{{ url_for('customers.index') }}">Customer</a></li>
                    <li><a href="{{ url_for('invoices.index') }}">Invoices</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </main>
    
    <!-- Footer -->
    <footer>
        <p> Copyright &copy; Thalath, All right. Reserved.</p>
    </footer>
</body>

</html>