{% extends 'layouts/base.html' %}
{% block title %}Product List {% endblock %}

{% block content %}
<div>
    <h2>Products List</h2>
    <a href="{{ url_for('products.create') }}">Create New Product</a>
</div>
{% if products %}
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>#</th>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Unit Meansure</th>
            <th>Reorder Level</th>
            <th>Sell Price</th>
            <th>Cost Price</th>
            <th>QTY in Stock</th>
        </tr>
    </thead>
    {% for product in products %}
    <tbody>
        <tr>
            <td><img src="{{ url_for('products.image', p_code=product.code) }}" width="50" alt="{{ product.name }}" /></td>
            <td>{{ loop.index }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.unit_meansure }}</td>
            <td>{{ product.reorder_level }}</td>
            <td>{{ product.sell_price }}</td>
            <td>{{ product.cost_price }}</td>
            <td>{{ product.in_stock }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<p>Product Items Not Found</p>
{% endif %}


{% endblock %}